/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header__block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.more__inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header__block {
    text-align: center;
}

}

.content__block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new__task__block {
  display: flex;
}

.order__list {
  margin: 0;
  padding: 0px;
}

.task__list,
.table__of__contents {
  list-style: none;
}

.correct__input,
.button__style {
  outline: none;
}

.button__style {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button__style:hover {
  color: #3a3A3a;
}

/* Heading */
.table__of__contents,
.add__new__task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input__style,
.input__style__add {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input__style:focus {
  color: #333;
}

/* New Task */
.add__new__task {
  display: block;
  margin: 0 0 20px;
}

.new__task__input {
  width: 318px;
}

/* Task list */
.task__list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__list > * {
  vertical-align: middle;
}

.task__list .checkbox__input {
  margin: 0 10px;
}

.task__list  .task__style {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.input__style {
  width: 226px;
}

.button__style.delete .delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__style.delete .delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.order__list__complite .line__style {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.input__style {
  display: none;
}

.edit__mode .input__style {
  display: inline-block;
  width: 224px;
}

.edit__mode label,
.no__vidible__content {
  display: none;
}
